@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h6 {
  color: #fff;
}

.container {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url('https://www.thehackneywick.co.uk/assets/background/food_bg-667x509.jpg')
      center no-repeat;
  background-size: cover;
}

.logo {
  height: 80px;
  width: 80px;
  position: fixed;
  top: 20px;
  left: 50px;

  img {
    width: 100%;
    width: 100%;
    background: white;
    border-radius: 50%;
    padding: 3px;
    border: 3px solid #df3939;
  }
}

.hamburger-menu {
  z-index: 99;
  width: 35px;
  height: 30px;
  // background-color: #fff;
  position: fixed;
  top: 40px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: inherit;
  height: 5px;
  background-color: #16c3cf;
  border-radius: 25px;

  &-2 {
    height: 3px;
  }
}

.btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}

.banner-btn {
  width: 350px;
  height: 100px;
  background: linear-gradient(#226f7a, #749da0);
  outline: none;
  border: none;
  font-family: 'Slabo 27px', serif;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4px;
  text-shadow: 0 10px 10px #000;
  cursor: pointer;
  transform: rotateX(70deg) rotateZ(30deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;

  &::before {
    content: '';
    width: 100%;
    height: 14px;
    background-color: #749da0;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
  }

  &::after {
    content: '';
    width: 15px;
    height: 100%;
    background-color: #226f7a;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
  }

  &:hover {
    transform: rotateX(30deg) rotateZ(0deg);
  }
}

.top-nav {
  z-index: 49;
  height: 15vh;
  width: 100%;
  background: linear-gradient(rgba(34, 111, 122, 0.8), rgba(116, 157, 160, 0.8)),
    url(https://www.thehackneywick.co.uk/assets/background/bg-flower-1440x814.jpg)
      no-repeat 50% 0;
  background-size: cover;
  position: fixed;
}

.nav-list {
  background-color: #ccc;
  list-style: none;
  width: 80%;
  margin: auto;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  li {
    perspective: 500px;
  }
}

.nav-link {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: rgba(116, 157, 160, 0.8);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 2px;
  color: #777;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  display: block;
  cursor: pointer;
  transform-origin: top;

  &::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: rgba(116, 157, 160, 0.8);
    padding: inherit;
    color: rgba(0, 0, 0, 0.6);
    transform: rotateX(-90deg);
    transform-origin: top;
  }

  &:hover {
    transform: rotateX(90deg);
  }
}
